doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title AERO_7

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 
        .team AERO_7 TEAM
        br
        h3 Presents:
        h2 Sejarah Perkembangan Prosesor Intel
        p.nama
         br
         br
         | Fitra Febryan Ramadhan Saragih
         br
         |Doli Imam Anggara
         br
         |Shofwan Hanief
         br
         |Albert Paul
      section
        p Prosesor adalah jantung dari sebuah komputer dan banyak diantara pengguna teknologi terutama komputer pribadi mengetahui bahwa perangkat yang mereka gunakan mengandung Intel Inside. Intel adalah pembuat mikroprosesor yang tersebar luas sejak empat dasa warsa yang lalu dan sampai saat ini merupakan arsitektur yang paling banyak digunakan untuk menjalankan platform sistem operasi Linux dan secara eksklusif digunakan untuk Windows.
       section
        p Pada tahun 1969 dan sebelum lahirnya mikroprosesor pertama, menurut catatan yang diungkapkan di situsnya, Intel sebagai produsen semikonduktor telah menerima permintaan dari Nippon Calculating Machine Corporation (NCMC) untuk merancang 12 chips khusus, yang rencananya digunakan untuk membangun produk kalkulator Busicom 141-PF. insyinyur intel pada saat itu menyarankan keluarga yang terdiri dari hanya empat chips, termasuk salah satu yang dapat di program untuk digunakan dalam berbagai produk. prestasi ini ternyata telah menjadi awal dan revolusi teknis yang secara dramatis mengubah jalannya pengembangan elektronika.
       section
        ul
         li
          img(src='img/(1).jpg',width='150',height='150')
         li 
          p Pada tanggal 15 November 1971, Intel meluncurkan prosesor empat bit Intel®4004 dan set chip disekitarnya. Intel 4004 telah menjadi mikroprosesor pertama yang di jual untuk umum disamping menjadi CPU pertama yang dijalankan di atas sebuah chip. Dalam iklan yang disebarkan di Electronic News, Intel mendeklarasikannya sebagai “Sebuah Era Baru Dalam Elektronik Terpadu.
       section
        ul
         li
          img(src='img/2.jpg',width='150',height='150')
         li 
          p Ditahun 1972 munculah microprocessor 8008 yang berkekuatan 2 kali lipat dari pendahulunya yaitu 4004. Mikroprosesor ini dibekali dengan arsitektur 8 bit dan disambut sangat baik di pasaran. Bahkan perusahan Seiko misalnya langsung memesan chipset ini untuk ditanam dalam kakulator mereka. 
       section
        ul
         li
          img(src='img/3.jpg',width='150',height='150')
         li
          p Sebagai penerus 8008, Intel 8080 diluncurkan pada bulan April 1974. Chip ini jugalah yang dipasang di Altair 8800, yaitu merupakan PC pertama dalam sejarahnya.Ketenaran mikroprosesor ini, dan meluasnya program aplikasi yang menyokong 8080 telah membangkitikan minat perusahaan semikonduktor lainnya untuk membuat tiruannya. Ide yang ditawarkan oleh generasi 4004 dan 8008, telah diwujudkan berupa intel 808 sebagai sebuah mikroprosesor idaman banyak penggunanya.
       section
        ul
         li
          img(src='img/4.jpg',width='150',height='150')
         li 
          p 8086 merupakan sebuah chip mikroprosesor 16-bit rancangan intel pada tahun 1978 yang membangkitkan penggunaan arsitektur x86. Teknologi yang digunakan pada prosesor ini juga berbeda dari 8080 dimana pada seri ini intel menggunakan teknologi HMOS dan juga merupakan prosesor intel pertama yang menggunakan bus 16 bit.
       section
        ul
         li
          img(src='img/5.jpg',width='150',height='150')
         li
          p Pada tahun 1982 lahirlah Prosesor Intel 80286 atau cukup disingkat menjadi 286 yang termsuk sebuah mikroprosesor 16-bit, yang dibuat oleh Intel Corporation menggunakan mikroarsitektur Intel x86. Prosesor ini dapat melakukan 4,5 siklus detak untuk melakukan satu instruksi. Selain itu, prosesor ini pun dapat menangani data hingga 16-bit pada satu waktunya, sehingga kekuatan pemrosesan prosesor ini pun jauh jika dibandingkan dengan pendahulunya.
       section
        ul
         li
          img(src='img/6.jpg',width='150',height='150')
         li
          p Pada tahun 1985 intel meluncurkan Microprocessor 32bit pertama yaitu Intel 80386 atau intel 386. Prosessor ini dapat mengalamati 4GB memori dan mempunyai pengalaatan yang lebih baik daripada 286. 
       section 
        ul
         li 
          img(src='img/7.jpg',width='150',height='150')
         li
          p Intel i486 (sering disebut 486 atau 80486) adalah serangkaian prosesor mikro CISC skalar 32-bit Intel yang merupakan bagian dari keluarga prosesor x86 Intel. i486 sering disebut tanpa tambahan awalan 80, karena peraturan pengadilan melarang angka-angka dijadikan mereka dagang (seperti 80486). Penamaan prosesor yang berdasarkan nomor kemudian benar-benar dihapus bersamaan dengan dipasarkannya penerus i486, yaitu prosesor Pentium.
         li
          p Sistem yang menggunakan CPU Intel 80486 menunjukkan kinerja yang lebih baik, lebih cepat. Dengan tersedianya 80486, pengguna PC mulai bisa menjalankan program dengan “klik”, tanpa perlu mengetikkan perintah satu per satu. Chipset ini juga mendukung tampilan layar berwarna dan dioperasikan relatif cepat.
      section
       ul
         li
          img(src='img/8.jpg',width='150',height='150')
         li
          p Pada tahun 1993 Intel meluncurkan generasi terbarunya yaitu i586 yang lebih dikenal dengan Pentium I dengan lebih dari 3 juta transistor. Intel meluncurkan prosesor Intel Pentium yang menjadi bagian dari revolusi meltimedia. Prosesor ini mampu menangani berbagai jenis data seperti suara, bunyi, tulis tangan dan foto. Pada prosesor ini mengalami peningkatan terhadap i80846 yaitu kecepatan yang lebih tinggi dan pipelining.
      section
       ul
        li
         img(src='img/9.jpg',width='150',height='150')
        li
         p Pentium II merupakan processor yang dioptimasi untuk dapat bekerja pada aplikasi 32-bit. Processor ini memiliki instruction set Pentium MMX, yang sudah tidak istimewa pada masanya. Processor ini juga mengadopsi teknologi dynamic execution dari processor Pentium Pro, mengizinkan processor untuk dapat memprediksi instruksi yang akan datang, dan juga cepat dalam menangani alur kerja.
      section
       ul
        li
         img(src='img/10.jpg',width='150',height='150')
        li
         p Processor Intel Celeron merupakan processor yang dikeluarkan sebagai processor yang ditujukan untuk pengguna yang tidak terlalu membutuhkan kinerja processor yang lebih cepat bagi pengguna yang ingin membangun sebuah system computer dengan budget (harga) yang tidak terlalu besar. Processor Intel Celeron ini memiliki bentuk dan formfactor yang sama dengan processor Intel jenis Pentium, tetapi hanya dengan instruksi-instruksi yang lebih sedikit, L2 cache-nya lebih kecil, kecepatan (clock speed) yang lebih lambat, dan harga yang lebih murah daripada processor Intel jenis Pentium.
      section
       ul
        li
         img(src='img/11.jpg',width='150',height='150')
        li
         p Processor Pentium III merupakan processor yang diberi tambahan 70 instruksi baru yang secara dramatis memperkaya kemampuan pencitraan tingkat tinggi, tiga dimensi, audio streaming, dan aplikasi-aplikasi video serta pengenalan suara.
      section
       ul
        li
         img(src='img/12.jpg',width='150',height='150')
        li
         p Pada tahun 2000, Intel mengeluarkan prosessor dengan tipe Intel® Pentium® 4 Processor. Processor Pentium IV merupakan produk Intel yang kecepatan prosesnya mampu menembus kecepatan hingga 3,06 GHz. Pertama kali keluar processor ini berkecepatan 1.5 GHz dengan form factor pin 423, setelah itu intel merubah form factor processor Intel Pentium 4 menjadi pin 478 yang dimulai dari processor Intel Pentium 4 berkecepatan 1,3 GHz sampai yang terbaru yang saat ini mampu menembus kecepatannya hingga 3,4 GHz.
      section
       ul
        li
         img(src='img/13.jpg',width='150',height='150')
        li
         p Processor Intel Pentium 4 Xeon merupakan processor Intel Pentium 4 yang ditujukan khusus untuk berperan sebagai computer server. Processor ini memiliki jumlah pin lebih banyak dari processor Intel Pentium 4 serta dengan memory L2 cache yang lebih besar pula.
      section
       ul
        li
         img(src='img/14.jpg',width='150',height='150')
        li
         p Intel Pentium M adalah sebuah mikroprosesor Intel x86 yang didesain oleh Intel untuk digunakan secara eksklusif untuk komputer portabel, semacam Notebook atau PC Tablet. Inti dari Pentium M merupakan desain dari para pengembang mikroarsitektur prosesor Pentium III yang efisien dan Pentium 4 yang gegas.
      section
       ul
        li
         img(src='img/15.jpg',width='150',height='150')
        li
         p Intel Corporation meluncurkan prosesor Intel Core 2 Duo yang ditujukan bagi PC dan workstation desktop dan laptop consumer dan bisnis – prosesor dengan teknologi yang dapat menghasilkan kinerja lebih, konsumsi daya lebih kecil, serta keleluasaan pemakaian bagi para penggunanya. Intel Core 2 Duo memiliki banyak inovasi seperti: Intel Wide Dynamic Execution(meningkatkan kinerja dan efisiensi), Intel Advance Smart(mengurangi daya), Intel Advance Digital Media Boost(menggndakan kecepatan eksekusi), Intel Dynamic Power Coordination, Intel Dynamic Bus Parking(penghematan daya dan umur bateray).
      section
       ul
        li
         img(src='img/17.jpg',width='150',height='150')
        li
         p Intel mengeluarkan produk terbarunya yaitu prosessor tipe Intel Core 2 Extreme Quad Core. Produk terbarunya tersebut diberi nama Core 2 Extreme QX9300 processor dengan fitur 45W TDP dan memberikan perhatian khusus pada sisi pendingin atau cooling system. The New Intel Core 2 Extreme QX9300 ini memiliki Core clock set pada 2.53GHz dan mengusung FSB atau Front Side Bus sebesar 1066 serta memiliki cache memory sebesar 12MB. Dual Core Mobile Chip dengan fitur sejenis yaitu clock speed sebesar 2.53Ghz
      section
       ul
        li
         img(src='img/16.jpg',width='150',height='150')
        li
         P Processor Intel Atom terkonsep karena melihat psikologi permintaan pasar. Processor ini bangun pada awal tahun 2008 dengan menggunakan daya yang sangat rendah namun memiliki kemampuan yang tinggi. Generasi Pertama intel Atom menggunakan moden Atom 230 yang memiliki kecepatan 1,6GHz,  menggunakan CPU dengan register 32Bit dan FSB 533MHz.
      section
       ul
        li
         img(src='img/18.jpg',width='150',height='150')
        li
         P Pada Tahun 2010, Jajaran prosesor terbaru diumumkan Intel, pada prosesor ini telah menggunakan proses produksi 32 nanometer dan memakai transistor high-k metal gate generasi kedua. Artinya, jajaran prosesor terbaru itu dijanjikan akan lebih hemat energi dengan kemampuan yang lebih baik. Selain itu, jajaran prosesor terbaru Intel ini telah memiliki kemampuan grafis terbenamkan di dalamnya. Sebelumnya jajaran ini dikenal dengan nama kode Clarksdale dan Arrandale. Pada Spesifikasi  intel(R) core(TM) i10 CPU 1000 @3.60Ghz (ES) bloomfield dilengkapi dengan socket 1366 LGA.
      section
       ul
        li
         img(src='img/19.jpg',width='150',height='150')
        li
         p Pada tahun 2012 intel meluncurkan prosessor generasi ke 3,dengan menggunakan arsitektur Ivy Bridge. Processor tersebut menggunakan teknologi 22 nanometer yang menjanjikan peningkatan performa sekitar 37 persen jauh lebih besar dari processor Sandy Bridge atau biasa disebut dengan processor jenis icore. Dengan arsitektur 22 nanometer, berarti akan adanya chip yang lebih kecil yang  memungkinkan konsumsi tenaga yang lebih hemat serta akan lebih banyak ruang yang diperuntukan untuk chip grafis terintegrasi. Selain itu, Ivy Bridge dapat mendukung DirectX-11, Thunderbolt dan USB 3.0.
      section
       ul
        li
         img(src='img/haswel.png',width='280',height='200')
        li
         p Pada tahun 2013 Intel Core Generasi Ke-4 telah resmi diluncurkan dengan codename "Haswell". Haswell merupakan processor terbaru keluaran dari Intel. Dibandingkan dengan generasi sebelumnya Ivy Bridge, Intel Haswell menawarkan 50 persen daya tahan baterai lebih lama.



    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild