doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title AERO_7

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 
        .team AERO_7
        br
        p 
        team Presents:
        h2 Sejarah perkembangan prosesor Intel
        p.nama
        br
        br
        | Fitra Febryan Ramadhan Saragih
        br
        |Doli Imam Anggara
        br
        |Shofwan Hanief
        br
        |Albert Paul
      section
        p 
        Prosesor adalah jantung dari sebuah komputer dan banyak diantara pengguna teknologi terutama komputer pribadi mengetahui bahwa perangkat yang mereka gunakan mengandung Intel Inside. Intel adalah pembuat mikroprosesor yang tersebar luas sejak empat dasa warsa yang lalu dan sampai saat ini merupakan arsitektur yang paling banyak digunakan untuk menjalankan platform sistem operasi Linux dan secara eksklusif digunakan untuk Windows.
       section
        p 
        Pada tahun 1969 dan sebelum lahirnya mikroprosesor pertama, menurut catatan yang diungkapkan di situsnya, Intel sebagai produsen semikonduktor telah menerima permintaan dari Nippon Calculating Machine Corporation (NCMC) untuk merancang 12 chips khusus, yang rencananya digunakan untuk membangun produk kalkulator Busicom 141-PF. insyinyur intel pada saat itu menyarankan keluarga yang terdiri dari hanya empat chips, termasuk salah satu yang dapat di program untuk digunakan dalam berbagai produk. prestasi ini ternyata telah menjadi awal dan revolusi teknis yang secara dramatis mengubah jalannya pengembangan elektronika.


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild